{
  "swagger": "2.0",
  "info": {
    "title": "Dungeons and Trolls",
    "version": "1.0"
  },
  "tags": [
    {
      "name": "DungeonsAndTrolls"
    }
  ],
  "host": "dt.garage-trip.cz",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/v1/assign-skill-points": {
      "post": {
        "summary": "Assign skill point to the attribute for the Character bound to the logged user.",
        "operationId": "DungeonsAndTrolls_AssignSkillPoints",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "type": "object",
              "properties": {}
            }
          },
          "403": {
            "description": "Returned when the user does not have permission to access the resource.",
            "schema": {}
          },
          "404": {
            "description": "Returned when the resource does not exist.",
            "schema": {}
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/dungeonsandtrollsAttributes"
            }
          }
        ],
        "tags": [
          "DungeonsAndTrolls"
        ]
      }
    },
    "/v1/buy": {
      "post": {
        "summary": "Buy Items identified by the provided ID for the Character bound to the logged user.",
        "operationId": "DungeonsAndTrolls_Buy",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "type": "object",
              "properties": {}
            }
          },
          "403": {
            "description": "Returned when the user does not have permission to access the resource.",
            "schema": {}
          },
          "404": {
            "description": "Returned when the resource does not exist.",
            "schema": {}
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/dungeonsandtrollsIdentifiers"
            }
          }
        ],
        "tags": [
          "DungeonsAndTrolls"
        ]
      }
    },
    "/v1/commands": {
      "post": {
        "summary": "Send multiple commands to the Character bound to the logged user. The order of execution is defined in the message.",
        "operationId": "DungeonsAndTrolls_Commands",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "type": "object",
              "properties": {}
            }
          },
          "403": {
            "description": "Returned when the user does not have permission to access the resource.",
            "schema": {}
          },
          "404": {
            "description": "Returned when the resource does not exist.",
            "schema": {}
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/dungeonsandtrollsCommandsBatch"
            }
          }
        ],
        "tags": [
          "DungeonsAndTrolls"
        ]
      }
    },
    "/v1/equip": {
      "post": {
        "summary": "Equip the Item identified by the provided ID for the Character bound to the logged user (unused).",
        "operationId": "DungeonsAndTrolls_Equip",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "type": "object",
              "properties": {}
            }
          },
          "403": {
            "description": "Returned when the user does not have permission to access the resource.",
            "schema": {}
          },
          "404": {
            "description": "Returned when the resource does not exist.",
            "schema": {}
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/dungeonsandtrollsIdentifier"
            }
          }
        ],
        "tags": [
          "DungeonsAndTrolls"
        ]
      }
    },
    "/v1/game": {
      "get": {
        "summary": "Sends all info about the game.",
        "operationId": "DungeonsAndTrolls_Game",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/dungeonsandtrollsGameState"
            }
          },
          "403": {
            "description": "Returned when the user does not have permission to access the resource.",
            "schema": {}
          },
          "404": {
            "description": "Returned when the resource does not exist.",
            "schema": {}
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "ascii",
            "description": "default false",
            "in": "query",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "events",
            "description": "default false",
            "in": "query",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "blocking",
            "description": "default true",
            "in": "query",
            "required": false,
            "type": "boolean"
          }
        ],
        "tags": [
          "DungeonsAndTrolls"
        ]
      }
    },
    "/v1/monsters-commands": {
      "post": {
        "summary": "Control monsters. Admin only.",
        "operationId": "DungeonsAndTrolls_MonstersCommands",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "type": "object",
              "properties": {}
            }
          },
          "403": {
            "description": "Returned when the user does not have permission to access the resource.",
            "schema": {}
          },
          "404": {
            "description": "Returned when the resource does not exist.",
            "schema": {}
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/dungeonsandtrollsCommandsForMonsters"
            }
          }
        ],
        "tags": [
          "DungeonsAndTrolls"
        ]
      }
    },
    "/v1/move": {
      "post": {
        "summary": "Move the Character bound to the logged user to the specified place.",
        "operationId": "DungeonsAndTrolls_Move",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "type": "object",
              "properties": {}
            }
          },
          "403": {
            "description": "Returned when the user does not have permission to access the resource.",
            "schema": {}
          },
          "404": {
            "description": "Returned when the resource does not exist.",
            "schema": {}
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/dungeonsandtrollsCoordinates"
            }
          }
        ],
        "tags": [
          "DungeonsAndTrolls"
        ]
      }
    },
    "/v1/register": {
      "post": {
        "summary": "Register provided User to the Game and create a character.",
        "operationId": "DungeonsAndTrolls_Register",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "type": "object",
              "properties": {}
            }
          },
          "403": {
            "description": "Returned when the user does not have permission to access the resource.",
            "schema": {}
          },
          "404": {
            "description": "Returned when the resource does not exist.",
            "schema": {}
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/dungeonsandtrollsUser"
            }
          }
        ],
        "tags": [
          "DungeonsAndTrolls"
        ]
      }
    },
    "/v1/respawn": {
      "post": {
        "summary": "Respawn the Character bound to the logged user.",
        "operationId": "DungeonsAndTrolls_Respawn",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "type": "object",
              "properties": {}
            }
          },
          "403": {
            "description": "Returned when the user does not have permission to access the resource.",
            "schema": {}
          },
          "404": {
            "description": "Returned when the resource does not exist.",
            "schema": {}
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {}
            }
          }
        ],
        "tags": [
          "DungeonsAndTrolls"
        ]
      }
    },
    "/v1/skill": {
      "post": {
        "summary": "Use a skill (provided by an item) by the Character bound to the logged user.",
        "operationId": "DungeonsAndTrolls_Skill",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "type": "object",
              "properties": {}
            }
          },
          "403": {
            "description": "Returned when the user does not have permission to access the resource.",
            "schema": {}
          },
          "404": {
            "description": "Returned when the resource does not exist.",
            "schema": {}
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/dungeonsandtrollsSkillUse"
            }
          }
        ],
        "tags": [
          "DungeonsAndTrolls"
        ]
      }
    },
    "/v1/yell": {
      "post": {
        "summary": "The Character bound to the logged user yells a messages (visible for everyone).",
        "operationId": "DungeonsAndTrolls_Yell",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "type": "object",
              "properties": {}
            }
          },
          "403": {
            "description": "Returned when the user does not have permission to access the resource.",
            "schema": {}
          },
          "404": {
            "description": "Returned when the resource does not exist.",
            "schema": {}
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/dungeonsandtrollsMessage"
            }
          }
        ],
        "tags": [
          "DungeonsAndTrolls"
        ]
      }
    }
  },
  "definitions": {
    "dungeonsandtrollsAttributes": {
      "type": "object",
      "properties": {
        "strength": {
          "type": "integer",
          "format": "int32"
        },
        "intelligence": {
          "type": "integer",
          "format": "int32"
        },
        "endurance": {
          "type": "integer",
          "format": "int32"
        },
        "willpower": {
          "type": "integer",
          "format": "int32"
        },
        "dexterity": {
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "dungeonsandtrollsCharacter": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "stats": {
          "$ref": "#/definitions/dungeonsandtrollsStats"
        },
        "level": {
          "type": "integer",
          "format": "int32"
        },
        "attributes": {
          "$ref": "#/definitions/dungeonsandtrollsAttributes"
        },
        "resistances": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/dungeonsandtrollsElements"
          }
        },
        "inventory": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/dungeonsandtrollsItem"
          }
        },
        "xp": {
          "type": "integer",
          "format": "int32"
        },
        "money": {
          "type": "integer",
          "format": "int32"
        },
        "freeSkillPoints": {
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "dungeonsandtrollsCommandsBatch": {
      "type": "object",
      "properties": {
        "buy": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/dungeonsandtrollsIdentifier"
          }
        },
        "equip": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/dungeonsandtrollsIdentifier"
          }
        },
        "move": {
          "$ref": "#/definitions/dungeonsandtrollsCoordinates"
        },
        "skill": {
          "$ref": "#/definitions/dungeonsandtrollsSkillUse"
        },
        "assignAttribute": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/dungeonsandtrollsAttributes"
          }
        },
        "yell": {
          "$ref": "#/definitions/dungeonsandtrollsMessage"
        }
      }
    },
    "dungeonsandtrollsCommandsForMonsters": {
      "type": "object",
      "properties": {
        "commands": {
          "type": "object",
          "additionalProperties": {
            "$ref": "#/definitions/dungeonsandtrollsCommandsBatch"
          },
          "description": "Monster ID with corresponding batch of commands."
        }
      }
    },
    "dungeonsandtrollsCoordinates": {
      "type": "object",
      "properties": {
        "level": {
          "type": "integer",
          "format": "int32"
        },
        "positionX": {
          "type": "integer",
          "format": "int32"
        },
        "positionY": {
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "dungeonsandtrollsEffect": {
      "type": "object",
      "properties": {
        "minDamage": {
          "$ref": "#/definitions/dungeonsandtrollsElements"
        },
        "maxDamage": {
          "$ref": "#/definitions/dungeonsandtrollsElements"
        },
        "duration": {
          "type": "integer",
          "format": "int32"
        },
        "areaOfEffect": {
          "type": "integer",
          "format": "int32"
        },
        "boosts": {
          "$ref": "#/definitions/dungeonsandtrollsAttributes"
        },
        "minStats": {
          "$ref": "#/definitions/dungeonsandtrollsStats"
        },
        "maxStats": {
          "$ref": "#/definitions/dungeonsandtrollsStats"
        }
      }
    },
    "dungeonsandtrollsElements": {
      "type": "object",
      "properties": {
        "cold": {
          "type": "integer",
          "format": "int32"
        },
        "fire": {
          "type": "integer",
          "format": "int32"
        },
        "lightning": {
          "type": "integer",
          "format": "int32"
        },
        "poison": {
          "type": "integer",
          "format": "int32"
        },
        "physical": {
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "dungeonsandtrollsEvent": {
      "type": "object",
      "properties": {
        "message": {
          "type": "string"
        },
        "type": {
          "$ref": "#/definitions/dungeonsandtrollsEventType"
        },
        "coordinates": {
          "$ref": "#/definitions/dungeonsandtrollsCoordinates"
        }
      }
    },
    "dungeonsandtrollsEventType": {
      "type": "string",
      "enum": [
        "DAMAGE",
        "MESSAGE"
      ],
      "default": "DAMAGE"
    },
    "dungeonsandtrollsGameState": {
      "type": "object",
      "properties": {
        "map": {
          "$ref": "#/definitions/dungeonsandtrollsMap"
        },
        "items": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/dungeonsandtrollsItem"
          }
        },
        "character": {
          "$ref": "#/definitions/dungeonsandtrollsCharacter"
        },
        "currentPosition": {
          "$ref": "#/definitions/dungeonsandtrollsCoordinates"
        },
        "tick": {
          "type": "string",
          "format": "int64"
        },
        "events": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/dungeonsandtrollsEvent"
          },
          "description": "List of events which occurred in the previous tick. Useful for visualising effects and debugging."
        }
      }
    },
    "dungeonsandtrollsIdentifier": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string"
        }
      }
    },
    "dungeonsandtrollsIdentifiers": {
      "type": "object",
      "properties": {
        "ids": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "dungeonsandtrollsItem": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "type": {
          "$ref": "#/definitions/dungeonsandtrollsItemType"
        },
        "price": {
          "type": "number",
          "format": "float"
        },
        "weight": {
          "type": "number",
          "format": "float"
        },
        "requirements": {
          "$ref": "#/definitions/dungeonsandtrollsAttributes"
        },
        "boosts": {
          "$ref": "#/definitions/dungeonsandtrollsAttributes"
        },
        "resistances": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/dungeonsandtrollsElements"
          }
        },
        "visualType": {
          "$ref": "#/definitions/dungeonsandtrollsItemVisualType"
        },
        "skills": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/dungeonsandtrollsSkill"
          }
        }
      }
    },
    "dungeonsandtrollsItemType": {
      "type": "string",
      "enum": [
        "SHIELD",
        "HELMET",
        "BODY_ARMOR",
        "TROUSERS",
        "BELT",
        "BOOTS",
        "GLOVES",
        "RING",
        "WEAPON"
      ],
      "default": "SHIELD"
    },
    "dungeonsandtrollsItemVisualType": {
      "type": "string",
      "enum": [
        "DAGGER",
        "SWORD",
        "WAND",
        "AXE",
        "MACE",
        "CLAW",
        "STAFF",
        "SPEAR",
        "SHIELD",
        "HELMET",
        "BODY_ARMOR",
        "TROUSERS",
        "BELT",
        "BOOTS",
        "GLOVES",
        "RING"
      ],
      "default": "DAGGER"
    },
    "dungeonsandtrollsLevel": {
      "type": "object",
      "properties": {
        "level": {
          "type": "integer",
          "format": "int32"
        },
        "free": {
          "type": "array",
          "items": {
            "type": "array",
            "items": {
              "type": "object"
            }
          }
        },
        "objects": {
          "$ref": "#/definitions/dungeonsandtrollsMapObjects"
        },
        "ascii": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "dungeonsandtrollsMap": {
      "type": "object",
      "properties": {
        "levels": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/dungeonsandtrollsLevel"
          }
        }
      }
    },
    "dungeonsandtrollsMapDecorations": {
      "type": "object",
      "properties": {
        "carpet": {
          "type": "boolean"
        },
        "rug": {
          "type": "boolean"
        },
        "door": {
          "type": "boolean"
        },
        "anomaly": {
          "type": "boolean"
        }
      }
    },
    "dungeonsandtrollsMapObjects": {
      "type": "object",
      "properties": {
        "position": {
          "$ref": "#/definitions/dungeonsandtrollsCoordinates"
        },
        "monsters": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/dungeonsandtrollsMonster"
          }
        },
        "players": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/dungeonsandtrollsCharacter"
          }
        },
        "stairs": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/dungeonsandtrollsShortcut"
          }
        },
        "portals": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/dungeonsandtrollsShortcut"
          }
        },
        "decorations": {
          "$ref": "#/definitions/dungeonsandtrollsMapDecorations"
        },
        "effects": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/dungeonsandtrollsEffect"
          },
          "title": "TODO: chests are not implemented yet\n bool chest = 4;"
        }
      }
    },
    "dungeonsandtrollsMessage": {
      "type": "object",
      "properties": {
        "text": {
          "type": "string"
        }
      }
    },
    "dungeonsandtrollsMonster": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "stats": {
          "$ref": "#/definitions/dungeonsandtrollsStats"
        },
        "level": {
          "type": "integer",
          "format": "int32"
        },
        "attributes": {
          "$ref": "#/definitions/dungeonsandtrollsAttributes"
        },
        "resistances": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/dungeonsandtrollsElements"
          }
        },
        "inventory": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/dungeonsandtrollsItem"
          }
        },
        "effects": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/dungeonsandtrollsEffect"
          }
        }
      }
    },
    "dungeonsandtrollsShortcut": {
      "type": "object",
      "properties": {
        "leadsTo": {
          "$ref": "#/definitions/dungeonsandtrollsCoordinates"
        }
      }
    },
    "dungeonsandtrollsSkill": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "effects": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/dungeonsandtrollsEffect"
          }
        },
        "requirements": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/dungeonsandtrollsAttributes"
          }
        },
        "cost": {
          "$ref": "#/definitions/dungeonsandtrollsStats"
        },
        "requiresLineOfSight": {
          "type": "boolean"
        },
        "maxDistance": {
          "type": "integer",
          "format": "int32"
        },
        "maxMoveDistance": {
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "dungeonsandtrollsSkillUse": {
      "type": "object",
      "properties": {
        "skillId": {
          "type": "string"
        },
        "targetId": {
          "type": "string"
        },
        "location": {
          "$ref": "#/definitions/dungeonsandtrollsCoordinates"
        }
      }
    },
    "dungeonsandtrollsStats": {
      "type": "object",
      "properties": {
        "health": {
          "type": "number",
          "format": "float"
        },
        "mana": {
          "type": "number",
          "format": "float"
        },
        "stamina": {
          "type": "number",
          "format": "float"
        }
      }
    },
    "dungeonsandtrollsUser": {
      "type": "object",
      "properties": {
        "username": {
          "type": "string"
        }
      }
    },
    "protobufAny": {
      "type": "object",
      "properties": {
        "@type": {
          "type": "string"
        }
      },
      "additionalProperties": {}
    },
    "protobufNullValue": {
      "type": "string",
      "enum": [
        "NULL_VALUE"
      ],
      "default": "NULL_VALUE"
    },
    "rpcStatus": {
      "type": "object",
      "properties": {
        "code": {
          "type": "integer",
          "format": "int32"
        },
        "message": {
          "type": "string"
        },
        "details": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/protobufAny"
          }
        }
      }
    }
  },
  "securityDefinitions": {
    "ApiKeyAuth": {
      "type": "apiKey",
      "name": "X-API-Key",
      "in": "header"
    }
  },
  "security": [
    {
      "ApiKeyAuth": []
    }
  ],
  "externalDocs": {
    "description": "More about Dungeons and trolls",
    "url": "https://github.com/gdg-garage/dungeons-and-trolls"
  }
}
