{
  "swagger": "2.0",
  "info": {
    "title": "Dungeons and Trolls",
    "version": "1.0"
  },
  "tags": [
    {
      "name": "DungeonsAndTrolls"
    }
  ],
  "host": "dt.garage-trip.cz",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/v1/attack": {
      "post": {
        "summary": "Attack the entity identified by the provided ID.",
        "operationId": "DungeonsAndTrolls_Attack",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "type": "object",
              "properties": {}
            }
          },
          "403": {
            "description": "Returned when the user does not have permission to access the resource.",
            "schema": {}
          },
          "404": {
            "description": "Returned when the resource does not exist.",
            "schema": {}
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/dungeonsandtrollsIdentifier"
            }
          }
        ],
        "tags": [
          "DungeonsAndTrolls"
        ]
      }
    },
    "/v1/buy": {
      "post": {
        "summary": "Buy the Item identified by the provided ID for the Character bound to the logged user.",
        "operationId": "DungeonsAndTrolls_Buy",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "type": "object",
              "properties": {}
            }
          },
          "403": {
            "description": "Returned when the user does not have permission to access the resource.",
            "schema": {}
          },
          "404": {
            "description": "Returned when the resource does not exist.",
            "schema": {}
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/dungeonsandtrollsIdentifier"
            }
          }
        ],
        "tags": [
          "DungeonsAndTrolls"
        ]
      }
    },
    "/v1/cast": {
      "post": {
        "summary": "Cast a spell (provided by a rune) by the Character bound to the logged user.",
        "operationId": "DungeonsAndTrolls_Cast",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "type": "object",
              "properties": {}
            }
          },
          "403": {
            "description": "Returned when the user does not have permission to access the resource.",
            "schema": {}
          },
          "404": {
            "description": "Returned when the resource does not exist.",
            "schema": {}
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/dungeonsandtrollsSpellAndTarget"
            }
          }
        ],
        "tags": [
          "DungeonsAndTrolls"
        ]
      }
    },
    "/v1/commands": {
      "post": {
        "summary": "Send multiple commands to the Character bound to the logged user. The order of execution is defined in the message.",
        "operationId": "DungeonsAndTrolls_Commands",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "type": "object",
              "properties": {}
            }
          },
          "403": {
            "description": "Returned when the user does not have permission to access the resource.",
            "schema": {}
          },
          "404": {
            "description": "Returned when the resource does not exist.",
            "schema": {}
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/dungeonsandtrollsCommandsBatch"
            }
          }
        ],
        "tags": [
          "DungeonsAndTrolls"
        ]
      }
    },
    "/v1/drink": {
      "post": {
        "summary": "Drink the Potion identified by the provided ID for the Character bound to the logged user.",
        "operationId": "DungeonsAndTrolls_Drink",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "type": "object",
              "properties": {}
            }
          },
          "403": {
            "description": "Returned when the user does not have permission to access the resource.",
            "schema": {}
          },
          "404": {
            "description": "Returned when the resource does not exist.",
            "schema": {}
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/dungeonsandtrollsIdentifier"
            }
          }
        ],
        "tags": [
          "DungeonsAndTrolls"
        ]
      }
    },
    "/v1/equip": {
      "post": {
        "summary": "Equip the Item identified by the provided ID for the Character bound to the logged user.",
        "operationId": "DungeonsAndTrolls_Equip",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "type": "object",
              "properties": {}
            }
          },
          "403": {
            "description": "Returned when the user does not have permission to access the resource.",
            "schema": {}
          },
          "404": {
            "description": "Returned when the resource does not exist.",
            "schema": {}
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/dungeonsandtrollsIdentifier"
            }
          }
        ],
        "tags": [
          "DungeonsAndTrolls"
        ]
      }
    },
    "/v1/game": {
      "get": {
        "summary": "Sends all info about the game.",
        "operationId": "DungeonsAndTrolls_Game",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/dungeonsandtrollsGameState"
            }
          },
          "403": {
            "description": "Returned when the user does not have permission to access the resource.",
            "schema": {}
          },
          "404": {
            "description": "Returned when the resource does not exist.",
            "schema": {}
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "ascii",
            "description": "dafault false",
            "in": "query",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "events",
            "description": "default false",
            "in": "query",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "blocking",
            "description": "default true",
            "in": "query",
            "required": false,
            "type": "boolean"
          }
        ],
        "tags": [
          "DungeonsAndTrolls"
        ]
      }
    },
    "/v1/jump": {
      "post": {
        "summary": "Jump with the Character bound to the logged user (has to be provided by Boots).",
        "operationId": "DungeonsAndTrolls_Jump",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "type": "object",
              "properties": {}
            }
          },
          "403": {
            "description": "Returned when the user does not have permission to access the resource.",
            "schema": {}
          },
          "404": {
            "description": "Returned when the resource does not exist.",
            "schema": {}
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/dungeonsandtrollsCoordinates"
            }
          }
        ],
        "tags": [
          "DungeonsAndTrolls"
        ]
      }
    },
    "/v1/monsters-commands": {
      "post": {
        "summary": "Control monsters. Admin only.",
        "operationId": "DungeonsAndTrolls_MonstersCommands",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "type": "object",
              "properties": {}
            }
          },
          "403": {
            "description": "Returned when the user does not have permission to access the resource.",
            "schema": {}
          },
          "404": {
            "description": "Returned when the resource does not exist.",
            "schema": {}
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/dungeonsandtrollsCommandsForMonsters"
            }
          }
        ],
        "tags": [
          "DungeonsAndTrolls"
        ]
      }
    },
    "/v1/move": {
      "post": {
        "summary": "Move the Character bound to the logged user to the specified place.",
        "operationId": "DungeonsAndTrolls_Move",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "type": "object",
              "properties": {}
            }
          },
          "403": {
            "description": "Returned when the user does not have permission to access the resource.",
            "schema": {}
          },
          "404": {
            "description": "Returned when the resource does not exist.",
            "schema": {}
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/dungeonsandtrollsCoordinates"
            }
          }
        ],
        "tags": [
          "DungeonsAndTrolls"
        ]
      }
    },
    "/v1/register": {
      "post": {
        "summary": "Register provided User to the Game and create a character.",
        "operationId": "DungeonsAndTrolls_Register",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "type": "object",
              "properties": {}
            }
          },
          "403": {
            "description": "Returned when the user does not have permission to access the resource.",
            "schema": {}
          },
          "404": {
            "description": "Returned when the resource does not exist.",
            "schema": {}
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/dungeonsandtrollsUser"
            }
          }
        ],
        "tags": [
          "DungeonsAndTrolls"
        ]
      }
    },
    "/v1/respawn": {
      "post": {
        "summary": "Respawn the Character bound to the logged user.",
        "operationId": "DungeonsAndTrolls_Respawn",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "type": "object",
              "properties": {}
            }
          },
          "403": {
            "description": "Returned when the user does not have permission to access the resource.",
            "schema": {}
          },
          "404": {
            "description": "Returned when the resource does not exist.",
            "schema": {}
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {}
            }
          }
        ],
        "tags": [
          "DungeonsAndTrolls"
        ]
      }
    }
  },
  "definitions": {
    "dungeonsandtrollsArmor": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "type": {
          "$ref": "#/definitions/dungeonsandtrollsArmorType"
        },
        "price": {
          "type": "number",
          "format": "float"
        },
        "weight": {
          "type": "number",
          "format": "float"
        },
        "defense": {
          "type": "number",
          "format": "float"
        },
        "requirements": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/dungeonsandtrollsAttributes"
          }
        },
        "boosts": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/dungeonsandtrollsAttributes"
          }
        },
        "resistances": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/dungeonsandtrollsResistance"
          }
        },
        "jump": {
          "$ref": "#/definitions/dungeonsandtrollsJump"
        }
      }
    },
    "dungeonsandtrollsArmorType": {
      "type": "string",
      "enum": [
        "SHIELD",
        "HELMET",
        "BODY_ARMOR",
        "TROUSERS",
        "BELT",
        "BOOTS",
        "GLOVES"
      ],
      "default": "SHIELD"
    },
    "dungeonsandtrollsAttributes": {
      "type": "object",
      "properties": {
        "strength": {
          "type": "integer",
          "format": "int32"
        },
        "intelligence": {
          "type": "integer",
          "format": "int32"
        },
        "endurance": {
          "type": "integer",
          "format": "int32"
        },
        "willpower": {
          "type": "integer",
          "format": "int32"
        },
        "dexterity": {
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "dungeonsandtrollsCharacter": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "stats": {
          "$ref": "#/definitions/dungeonsandtrollsStats"
        },
        "level": {
          "type": "integer",
          "format": "int32"
        },
        "attributes": {
          "$ref": "#/definitions/dungeonsandtrollsAttributes"
        },
        "resistances": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/dungeonsandtrollsResistance"
          }
        },
        "inventory": {
          "$ref": "#/definitions/dungeonsandtrollsItems"
        },
        "xp": {
          "type": "integer",
          "format": "int32"
        },
        "money": {
          "type": "integer",
          "format": "int32"
        },
        "freeSkillPoints": {
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "dungeonsandtrollsCommandsBatch": {
      "type": "object",
      "properties": {
        "buy": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/dungeonsandtrollsIdentifier"
          }
        },
        "equip": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/dungeonsandtrollsIdentifier"
          }
        },
        "drink": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/dungeonsandtrollsIdentifier"
          }
        },
        "move": {
          "$ref": "#/definitions/dungeonsandtrollsCoordinates"
        },
        "jump": {
          "$ref": "#/definitions/dungeonsandtrollsCoordinates"
        },
        "cast": {
          "$ref": "#/definitions/dungeonsandtrollsSpellAndTarget"
        },
        "attack": {
          "$ref": "#/definitions/dungeonsandtrollsIdentifier"
        },
        "assignAttribute": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/dungeonsandtrollsAttributes"
          }
        }
      }
    },
    "dungeonsandtrollsCommandsForMonsters": {
      "type": "object",
      "properties": {
        "commands": {
          "type": "object",
          "additionalProperties": {
            "$ref": "#/definitions/dungeonsandtrollsCommandsBatch"
          },
          "description": "Monster ID with corresponding batch of commands."
        }
      }
    },
    "dungeonsandtrollsCoordinates": {
      "type": "object",
      "properties": {
        "level": {
          "type": "integer",
          "format": "int32"
        },
        "positionX": {
          "type": "integer",
          "format": "int32"
        },
        "positionY": {
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "dungeonsandtrollsDamageOverTime": {
      "type": "object",
      "properties": {
        "element": {
          "$ref": "#/definitions/dungeonsandtrollsElement"
        },
        "damage": {
          "type": "number",
          "format": "float",
          "title": "DPS"
        },
        "duration": {
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "dungeonsandtrollsElement": {
      "type": "string",
      "enum": [
        "COLD",
        "FIRE",
        "LIGHTNING",
        "POISON",
        "LIFE"
      ],
      "default": "COLD"
    },
    "dungeonsandtrollsEvent": {
      "type": "object",
      "properties": {
        "message": {
          "type": "string"
        },
        "type": {
          "$ref": "#/definitions/dungeonsandtrollsEventType"
        },
        "coordinates": {
          "$ref": "#/definitions/dungeonsandtrollsCoordinates"
        }
      }
    },
    "dungeonsandtrollsEventType": {
      "type": "string",
      "enum": [
        "DAMAGE"
      ],
      "default": "DAMAGE"
    },
    "dungeonsandtrollsGameState": {
      "type": "object",
      "properties": {
        "map": {
          "$ref": "#/definitions/dungeonsandtrollsMap"
        },
        "items": {
          "$ref": "#/definitions/dungeonsandtrollsItems"
        },
        "character": {
          "$ref": "#/definitions/dungeonsandtrollsCharacter"
        },
        "currentPosition": {
          "$ref": "#/definitions/dungeonsandtrollsCoordinates"
        },
        "tick": {
          "type": "string",
          "format": "int64"
        },
        "events": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/dungeonsandtrollsEvent"
          },
          "description": "List of events which occured in the previous tick. Useful for visualising effects and debugging."
        }
      }
    },
    "dungeonsandtrollsHeal": {
      "type": "object",
      "properties": {
        "heal": {
          "type": "number",
          "format": "float"
        },
        "damageOverTime": {
          "$ref": "#/definitions/dungeonsandtrollsDamageOverTime"
        }
      }
    },
    "dungeonsandtrollsIdentifier": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string"
        }
      }
    },
    "dungeonsandtrollsItems": {
      "type": "object",
      "properties": {
        "weapons": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/dungeonsandtrollsWeapon"
          }
        },
        "armors": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/dungeonsandtrollsArmor"
          }
        },
        "potions": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/dungeonsandtrollsPotion"
          }
        },
        "runes": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/dungeonsandtrollsRune"
          }
        }
      }
    },
    "dungeonsandtrollsJump": {
      "type": "object",
      "properties": {
        "maxJumpDistance": {
          "type": "number",
          "format": "float"
        },
        "manaCost": {
          "type": "number",
          "format": "float"
        }
      }
    },
    "dungeonsandtrollsLevel": {
      "type": "object",
      "properties": {
        "level": {
          "type": "integer",
          "format": "int32"
        },
        "free": {
          "type": "array",
          "items": {
            "type": "array",
            "items": {
              "type": "object"
            }
          }
        },
        "objects": {
          "$ref": "#/definitions/dungeonsandtrollsMapObjects"
        },
        "ascii": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "dungeonsandtrollsMap": {
      "type": "object",
      "properties": {
        "levels": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/dungeonsandtrollsLevel"
          }
        }
      }
    },
    "dungeonsandtrollsMapDecorations": {
      "type": "object",
      "properties": {
        "carpet": {
          "type": "boolean"
        },
        "rug": {
          "type": "boolean"
        },
        "door": {
          "type": "boolean"
        },
        "anomally": {
          "type": "boolean"
        }
      }
    },
    "dungeonsandtrollsMapObjects": {
      "type": "object",
      "properties": {
        "position": {
          "$ref": "#/definitions/dungeonsandtrollsPosition"
        },
        "monsters": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/dungeonsandtrollsMonster"
          }
        },
        "players": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/dungeonsandtrollsCharacter"
          }
        },
        "stairs": {
          "type": "boolean"
        },
        "decorations": {
          "$ref": "#/definitions/dungeonsandtrollsMapDecorations",
          "title": "TODO: chests are not impleted yet\n bool chest = 4;"
        }
      }
    },
    "dungeonsandtrollsMonster": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        },
        "stats": {
          "$ref": "#/definitions/dungeonsandtrollsStats"
        },
        "level": {
          "type": "integer",
          "format": "int32"
        },
        "attributes": {
          "$ref": "#/definitions/dungeonsandtrollsAttributes"
        },
        "resistances": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/dungeonsandtrollsResistance"
          }
        },
        "inventory": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/dungeonsandtrollsItems"
          }
        }
      }
    },
    "dungeonsandtrollsPosition": {
      "type": "object",
      "properties": {
        "positionX": {
          "type": "integer",
          "format": "int32"
        },
        "positionY": {
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "dungeonsandtrollsPotion": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "price": {
          "type": "number",
          "format": "float"
        },
        "weight": {
          "type": "number",
          "format": "float"
        },
        "boosts": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/dungeonsandtrollsAttributes"
          }
        },
        "resistances": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/dungeonsandtrollsResistance"
          }
        },
        "heal": {
          "$ref": "#/definitions/dungeonsandtrollsHeal"
        }
      }
    },
    "dungeonsandtrollsResistance": {
      "type": "object",
      "properties": {
        "element": {
          "$ref": "#/definitions/dungeonsandtrollsElement"
        },
        "value": {
          "type": "number",
          "format": "float"
        }
      }
    },
    "dungeonsandtrollsRune": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "type": {
          "$ref": "#/definitions/dungeonsandtrollsRuneType"
        },
        "minDamage": {
          "type": "number",
          "format": "float"
        },
        "maxDamage": {
          "type": "number",
          "format": "float"
        },
        "weight": {
          "type": "number",
          "format": "float"
        },
        "price": {
          "type": "number",
          "format": "float"
        },
        "damageOverTime": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/dungeonsandtrollsDamageOverTime"
          }
        },
        "requirements": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/dungeonsandtrollsAttributes"
          }
        },
        "minHeal": {
          "type": "number",
          "format": "float"
        },
        "maxHeal": {
          "type": "number",
          "format": "float"
        },
        "manaCost": {
          "type": "number",
          "format": "float"
        }
      }
    },
    "dungeonsandtrollsRuneType": {
      "type": "string",
      "enum": [
        "HEAL",
        "FIREBALL",
        "ICE_NOVA",
        "POISON_CLOUD",
        "LIGHTNING_BOLT"
      ],
      "default": "HEAL"
    },
    "dungeonsandtrollsSpellAndTarget": {
      "type": "object",
      "properties": {
        "spell": {
          "$ref": "#/definitions/dungeonsandtrollsRuneType"
        },
        "targetId": {
          "type": "string"
        }
      }
    },
    "dungeonsandtrollsStats": {
      "type": "object",
      "properties": {
        "health": {
          "type": "number",
          "format": "float"
        },
        "mana": {
          "type": "number",
          "format": "float"
        },
        "stamina": {
          "type": "number",
          "format": "float"
        }
      }
    },
    "dungeonsandtrollsUser": {
      "type": "object",
      "properties": {
        "username": {
          "type": "string"
        }
      }
    },
    "dungeonsandtrollsWeapon": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "oneHand": {
          "type": "boolean"
        },
        "type": {
          "$ref": "#/definitions/dungeonsandtrollsWeaponType"
        },
        "minDamage": {
          "type": "number",
          "format": "float"
        },
        "maxDamage": {
          "type": "number",
          "format": "float"
        },
        "weight": {
          "type": "number",
          "format": "float"
        },
        "price": {
          "type": "number",
          "format": "float"
        },
        "damageOverTime": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/dungeonsandtrollsDamageOverTime"
          }
        },
        "requirements": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/dungeonsandtrollsAttributes"
          }
        },
        "boosts": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/dungeonsandtrollsAttributes"
          }
        },
        "resistances": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/dungeonsandtrollsResistance"
          }
        }
      }
    },
    "dungeonsandtrollsWeaponType": {
      "type": "string",
      "enum": [
        "DAGGER",
        "SWORD",
        "WAND",
        "AXE",
        "MACE",
        "CLAW",
        "STAFF",
        "SPEAR"
      ],
      "default": "DAGGER"
    },
    "protobufAny": {
      "type": "object",
      "properties": {
        "@type": {
          "type": "string"
        }
      },
      "additionalProperties": {}
    },
    "protobufNullValue": {
      "type": "string",
      "enum": [
        "NULL_VALUE"
      ],
      "default": "NULL_VALUE"
    },
    "rpcStatus": {
      "type": "object",
      "properties": {
        "code": {
          "type": "integer",
          "format": "int32"
        },
        "message": {
          "type": "string"
        },
        "details": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/protobufAny"
          }
        }
      }
    }
  },
  "securityDefinitions": {
    "ApiKeyAuth": {
      "type": "apiKey",
      "name": "X-API-Key",
      "in": "header"
    }
  },
  "security": [
    {
      "ApiKeyAuth": []
    }
  ],
  "externalDocs": {
    "description": "More about Dungeons and trolls",
    "url": "https://github.com/gdg-garage/dungeons-and-trolls"
  }
}
