{
  "swagger": "2.0",
  "info": {
    "title": "Dungeons and Trolls",
    "version": "1.0"
  },
  "tags": [
    {
      "name": "DungeonsAndTrolls"
    }
  ],
  "host": "dt.garage-trip.cz",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/v1/buy": {
      "post": {
        "summary": "Buy Items identified by the provided ID for the Character bound to the\nlogged user.",
        "operationId": "DungeonsAndTrolls_Buy",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "type": "object",
              "properties": {}
            }
          },
          "403": {
            "description": "Returned when the user does not have permission to access the resource.",
            "schema": {}
          },
          "404": {
            "description": "Returned when the resource does not exist.",
            "schema": {}
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/dungeonsandtrollsIdentifiers"
            }
          }
        ],
        "tags": [
          "DungeonsAndTrolls"
        ]
      }
    },
    "/v1/commands": {
      "post": {
        "summary": "Send multiple commands to the Character bound to the logged user. The order\nof execution is defined in the message.",
        "operationId": "DungeonsAndTrolls_Commands",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "type": "object",
              "properties": {}
            }
          },
          "403": {
            "description": "Returned when the user does not have permission to access the resource.",
            "schema": {}
          },
          "404": {
            "description": "Returned when the resource does not exist.",
            "schema": {}
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/dungeonsandtrollsCommandsBatch"
            }
          }
        ],
        "tags": [
          "DungeonsAndTrolls"
        ]
      }
    },
    "/v1/game": {
      "get": {
        "summary": "Sends all info about the game.",
        "operationId": "DungeonsAndTrolls_Game",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/dungeonsandtrollsGameState"
            }
          },
          "403": {
            "description": "Returned when the user does not have permission to access the resource.",
            "schema": {}
          },
          "404": {
            "description": "Returned when the resource does not exist.",
            "schema": {}
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "ascii",
            "description": "default false",
            "in": "query",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "events",
            "description": "default false",
            "in": "query",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "blocking",
            "description": "default true",
            "in": "query",
            "required": false,
            "type": "boolean"
          }
        ],
        "tags": [
          "DungeonsAndTrolls"
        ]
      }
    },
    "/v1/monsters-commands": {
      "post": {
        "summary": "Control monsters. Admin only.",
        "operationId": "DungeonsAndTrolls_MonstersCommands",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "type": "object",
              "properties": {}
            }
          },
          "403": {
            "description": "Returned when the user does not have permission to access the resource.",
            "schema": {}
          },
          "404": {
            "description": "Returned when the resource does not exist.",
            "schema": {}
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/dungeonsandtrollsCommandsForMonsters"
            }
          }
        ],
        "tags": [
          "DungeonsAndTrolls"
        ]
      }
    },
    "/v1/move": {
      "post": {
        "summary": "Assign skill point to the attribute for the Character bound to the logged\nuser.",
        "operationId": "DungeonsAndTrolls_Move",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "type": "object",
              "properties": {}
            }
          },
          "403": {
            "description": "Returned when the user does not have permission to access the resource.",
            "schema": {}
          },
          "404": {
            "description": "Returned when the resource does not exist.",
            "schema": {}
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/dungeonsandtrollsCoordinates"
            }
          }
        ],
        "tags": [
          "DungeonsAndTrolls"
        ]
      }
    },
    "/v1/pick-up": {
      "post": {
        "summary": "Equip the Item from the ground identified by the provided ID for the Character bound to the\nlogged user (unused).",
        "operationId": "DungeonsAndTrolls_PickUp",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "type": "object",
              "properties": {}
            }
          },
          "403": {
            "description": "Returned when the user does not have permission to access the resource.",
            "schema": {}
          },
          "404": {
            "description": "Returned when the resource does not exist.",
            "schema": {}
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/dungeonsandtrollsIdentifier"
            }
          }
        ],
        "tags": [
          "DungeonsAndTrolls"
        ]
      }
    },
    "/v1/register": {
      "post": {
        "summary": "Register provided User to the Game and create a character.",
        "operationId": "DungeonsAndTrolls_Register",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/dungeonsandtrollsRegistration"
            }
          },
          "403": {
            "description": "Returned when the user does not have permission to access the resource.",
            "schema": {}
          },
          "404": {
            "description": "Returned when the resource does not exist.",
            "schema": {}
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/dungeonsandtrollsUser"
            }
          }
        ],
        "tags": [
          "DungeonsAndTrolls"
        ]
      }
    },
    "/v1/respawn": {
      "post": {
        "summary": "Respawn the Character bound to the logged user.",
        "operationId": "DungeonsAndTrolls_Respawn",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "type": "object",
              "properties": {}
            }
          },
          "403": {
            "description": "Returned when the user does not have permission to access the resource.",
            "schema": {}
          },
          "404": {
            "description": "Returned when the resource does not exist.",
            "schema": {}
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {}
            }
          }
        ],
        "tags": [
          "DungeonsAndTrolls"
        ]
      }
    },
    "/v1/skill": {
      "post": {
        "summary": "Use a skill (provided by an item) by the Character bound to the logged\nuser.",
        "operationId": "DungeonsAndTrolls_Skill",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "type": "object",
              "properties": {}
            }
          },
          "403": {
            "description": "Returned when the user does not have permission to access the resource.",
            "schema": {}
          },
          "404": {
            "description": "Returned when the resource does not exist.",
            "schema": {}
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/dungeonsandtrollsSkillUse"
            }
          }
        ],
        "tags": [
          "DungeonsAndTrolls"
        ]
      }
    },
    "/v1/yell": {
      "post": {
        "summary": "The Character bound to the logged user yells a messages (visible for\neveryone).",
        "operationId": "DungeonsAndTrolls_Yell",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "type": "object",
              "properties": {}
            }
          },
          "403": {
            "description": "Returned when the user does not have permission to access the resource.",
            "schema": {}
          },
          "404": {
            "description": "Returned when the resource does not exist.",
            "schema": {}
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/dungeonsandtrollsMessage"
            }
          }
        ],
        "tags": [
          "DungeonsAndTrolls"
        ]
      }
    }
  },
  "definitions": {
    "SkillTarget": {
      "type": "string",
      "enum": [
        "none",
        "position",
        "character",
        "item"
      ],
      "default": "none"
    },
    "dungeonsandtrollsAttributes": {
      "type": "object",
      "properties": {
        "strength": {
          "type": "number",
          "format": "float"
        },
        "dexterity": {
          "type": "number",
          "format": "float"
        },
        "intelligence": {
          "type": "number",
          "format": "float"
        },
        "willpower": {
          "type": "number",
          "format": "float"
        },
        "constitution": {
          "type": "number",
          "format": "float"
        },
        "slashResist": {
          "type": "number",
          "format": "float"
        },
        "pierceResist": {
          "type": "number",
          "format": "float"
        },
        "fireResist": {
          "type": "number",
          "format": "float"
        },
        "poisonResist": {
          "type": "number",
          "format": "float"
        },
        "electricResist": {
          "type": "number",
          "format": "float"
        },
        "life": {
          "type": "number",
          "format": "float"
        },
        "stamina": {
          "type": "number",
          "format": "float"
        },
        "mana": {
          "type": "number",
          "format": "float"
        },
        "scalar": {
          "type": "number",
          "format": "float"
        }
      }
    },
    "dungeonsandtrollsCharacter": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "attributes": {
          "$ref": "#/definitions/dungeonsandtrollsAttributes"
        },
        "money": {
          "type": "integer",
          "format": "int32"
        },
        "equip": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/dungeonsandtrollsItem"
          }
        },
        "score": {
          "type": "number",
          "format": "float"
        }
      }
    },
    "dungeonsandtrollsCommandsBatch": {
      "type": "object",
      "properties": {
        "buy": {
          "$ref": "#/definitions/dungeonsandtrollsIdentifiers"
        },
        "pickUp": {
          "$ref": "#/definitions/dungeonsandtrollsIdentifier"
        },
        "move": {
          "$ref": "#/definitions/dungeonsandtrollsCoordinates"
        },
        "skill": {
          "$ref": "#/definitions/dungeonsandtrollsSkillUse"
        },
        "yell": {
          "$ref": "#/definitions/dungeonsandtrollsMessage"
        }
      }
    },
    "dungeonsandtrollsCommandsForMonsters": {
      "type": "object",
      "properties": {
        "commands": {
          "type": "object",
          "additionalProperties": {
            "$ref": "#/definitions/dungeonsandtrollsCommandsBatch"
          },
          "description": "Monster ID with corresponding batch of commands."
        }
      }
    },
    "dungeonsandtrollsCoordinates": {
      "type": "object",
      "properties": {
        "level": {
          "type": "integer",
          "format": "int32"
        },
        "positionX": {
          "type": "integer",
          "format": "int32"
        },
        "positionY": {
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "dungeonsandtrollsDamageType": {
      "type": "string",
      "enum": [
        "none",
        "slash",
        "pierce",
        "fire",
        "poison",
        "electric"
      ],
      "default": "none"
    },
    "dungeonsandtrollsDecoration": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        },
        "type": {
          "type": "string"
        }
      }
    },
    "dungeonsandtrollsDroppable": {
      "type": "object",
      "properties": {
        "skill": {
          "$ref": "#/definitions/dungeonsandtrollsSkill"
        },
        "item": {
          "$ref": "#/definitions/dungeonsandtrollsItem"
        },
        "monster": {
          "$ref": "#/definitions/dungeonsandtrollsMonster"
        },
        "decoration": {
          "$ref": "#/definitions/dungeonsandtrollsDecoration"
        },
        "waypoint": {
          "$ref": "#/definitions/dungeonsandtrollsWaypoint"
        },
        "key": {
          "$ref": "#/definitions/dungeonsandtrollsKey"
        }
      }
    },
    "dungeonsandtrollsEffect": {
      "type": "object",
      "properties": {
        "minDamage": {
          "$ref": "#/definitions/dungeonsandtrollsElements"
        },
        "maxDamage": {
          "$ref": "#/definitions/dungeonsandtrollsElements"
        },
        "duration": {
          "type": "integer",
          "format": "int32"
        },
        "areaOfEffect": {
          "type": "integer",
          "format": "int32"
        },
        "boosts": {
          "$ref": "#/definitions/dungeonsandtrollsAttributes"
        },
        "minStats": {
          "$ref": "#/definitions/dungeonsandtrollsStats"
        },
        "maxStats": {
          "$ref": "#/definitions/dungeonsandtrollsStats"
        }
      }
    },
    "dungeonsandtrollsElements": {
      "type": "object",
      "properties": {
        "cold": {
          "type": "integer",
          "format": "int32"
        },
        "fire": {
          "type": "integer",
          "format": "int32"
        },
        "lightning": {
          "type": "integer",
          "format": "int32"
        },
        "poison": {
          "type": "integer",
          "format": "int32"
        },
        "physical": {
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "dungeonsandtrollsEvent": {
      "type": "object",
      "properties": {
        "message": {
          "type": "string"
        },
        "type": {
          "$ref": "#/definitions/dungeonsandtrollsEventType"
        },
        "coordinates": {
          "$ref": "#/definitions/dungeonsandtrollsCoordinates"
        }
      }
    },
    "dungeonsandtrollsEventType": {
      "type": "string",
      "enum": [
        "DAMAGE",
        "MESSAGE",
        "BUY",
        "EQUIP",
        "ERROR"
      ],
      "default": "DAMAGE"
    },
    "dungeonsandtrollsGameState": {
      "type": "object",
      "properties": {
        "map": {
          "$ref": "#/definitions/dungeonsandtrollsMap"
        },
        "shopItems": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/dungeonsandtrollsItem"
          }
        },
        "character": {
          "$ref": "#/definitions/dungeonsandtrollsCharacter"
        },
        "currentPosition": {
          "$ref": "#/definitions/dungeonsandtrollsCoordinates"
        },
        "currentLevel": {
          "type": "integer",
          "format": "int32"
        },
        "tick": {
          "type": "string",
          "format": "int64"
        },
        "events": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/dungeonsandtrollsEvent"
          },
          "description": "List of events which occurred in the previous tick. Useful for visualising\neffects, debugging and communication."
        },
        "score": {
          "type": "number",
          "format": "float"
        }
      }
    },
    "dungeonsandtrollsIdentifier": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string"
        }
      }
    },
    "dungeonsandtrollsIdentifiers": {
      "type": "object",
      "properties": {
        "ids": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "dungeonsandtrollsItem": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "slot": {
          "$ref": "#/definitions/dungeonsandtrollsItemType"
        },
        "price": {
          "type": "integer",
          "format": "int32"
        },
        "requirements": {
          "$ref": "#/definitions/dungeonsandtrollsAttributes"
        },
        "attributes": {
          "$ref": "#/definitions/dungeonsandtrollsAttributes"
        },
        "skills": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/dungeonsandtrollsSkill"
          }
        },
        "icon": {
          "type": "string"
        }
      }
    },
    "dungeonsandtrollsItemType": {
      "type": "string",
      "enum": [
        "none",
        "head",
        "mainHand",
        "offHand",
        "body",
        "legs",
        "neck"
      ],
      "default": "none"
    },
    "dungeonsandtrollsKey": {
      "type": "object",
      "properties": {
        "doors": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/dungeonsandtrollsPosition"
          }
        }
      }
    },
    "dungeonsandtrollsLevel": {
      "type": "object",
      "properties": {
        "level": {
          "type": "integer",
          "format": "int32"
        },
        "width": {
          "type": "integer",
          "format": "int32"
        },
        "height": {
          "type": "integer",
          "format": "int32"
        },
        "free": {
          "type": "array",
          "items": {
            "type": "array",
            "items": {
              "type": "object"
            }
          }
        },
        "objects": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/dungeonsandtrollsMapObjects"
          }
        },
        "ascii": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "dungeonsandtrollsMap": {
      "type": "object",
      "properties": {
        "levels": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/dungeonsandtrollsLevel"
          }
        }
      }
    },
    "dungeonsandtrollsMapObjects": {
      "type": "object",
      "properties": {
        "position": {
          "$ref": "#/definitions/dungeonsandtrollsCoordinates"
        },
        "monsters": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/dungeonsandtrollsMonster"
          }
        },
        "players": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/dungeonsandtrollsCharacter"
          }
        },
        "isStairs": {
          "type": "boolean"
        },
        "portals": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/dungeonsandtrollsShortcut"
          }
        },
        "decorations": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/dungeonsandtrollsDecoration"
          }
        },
        "effects": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/dungeonsandtrollsEffect"
          }
        },
        "items": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/dungeonsandtrollsItem"
          }
        },
        "isFree": {
          "type": "boolean"
        },
        "isWall": {
          "type": "boolean"
        },
        "isDoor": {
          "type": "boolean"
        },
        "isSpawn": {
          "type": "boolean",
          "title": "TODO: chests are not implemented yet\n bool chest = 4;"
        }
      }
    },
    "dungeonsandtrollsMessage": {
      "type": "object",
      "properties": {
        "text": {
          "type": "string"
        }
      }
    },
    "dungeonsandtrollsMonster": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "attributes": {
          "$ref": "#/definitions/dungeonsandtrollsAttributes",
          "title": "Stats stats = 3;\nint32 level = 4;"
        },
        "effects": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/dungeonsandtrollsEffect"
          },
          "title": "repeated Item inventory = 7;"
        },
        "equippedItems": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/dungeonsandtrollsItem"
          },
          "title": "int32 xp = 9;"
        },
        "score": {
          "type": "number",
          "format": "float"
        },
        "icon": {
          "type": "string"
        },
        "algorithm": {
          "type": "string"
        },
        "faction": {
          "type": "string"
        },
        "onDeath": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/dungeonsandtrollsDroppable"
          }
        }
      }
    },
    "dungeonsandtrollsPosition": {
      "type": "object",
      "properties": {
        "positionX": {
          "type": "integer",
          "format": "int32"
        },
        "positionY": {
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "dungeonsandtrollsRegistration": {
      "type": "object",
      "properties": {
        "apiKey": {
          "type": "string"
        }
      }
    },
    "dungeonsandtrollsShortcut": {
      "type": "object",
      "properties": {
        "leadsTo": {
          "$ref": "#/definitions/dungeonsandtrollsCoordinates"
        }
      }
    },
    "dungeonsandtrollsSkill": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "target": {
          "$ref": "#/definitions/SkillTarget"
        },
        "effects": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/dungeonsandtrollsEffect"
          }
        },
        "cost": {
          "$ref": "#/definitions/dungeonsandtrollsAttributes"
        },
        "range": {
          "$ref": "#/definitions/dungeonsandtrollsAttributes"
        },
        "radius": {
          "$ref": "#/definitions/dungeonsandtrollsAttributes"
        },
        "duration": {
          "$ref": "#/definitions/dungeonsandtrollsAttributes"
        },
        "damageAmount": {
          "$ref": "#/definitions/dungeonsandtrollsAttributes"
        },
        "damageType": {
          "$ref": "#/definitions/dungeonsandtrollsDamageType"
        },
        "casterEffects": {
          "$ref": "#/definitions/dungeonsandtrollsSkillEffect"
        },
        "targetEffects": {
          "$ref": "#/definitions/dungeonsandtrollsSkillEffect"
        }
      }
    },
    "dungeonsandtrollsSkillAttributes": {
      "type": "object",
      "properties": {
        "strength": {
          "$ref": "#/definitions/dungeonsandtrollsAttributes"
        },
        "dexterity": {
          "$ref": "#/definitions/dungeonsandtrollsAttributes"
        },
        "intelligence": {
          "$ref": "#/definitions/dungeonsandtrollsAttributes"
        },
        "willpower": {
          "$ref": "#/definitions/dungeonsandtrollsAttributes"
        },
        "constitution": {
          "$ref": "#/definitions/dungeonsandtrollsAttributes"
        },
        "slashResist": {
          "$ref": "#/definitions/dungeonsandtrollsAttributes"
        },
        "pierceResist": {
          "$ref": "#/definitions/dungeonsandtrollsAttributes"
        },
        "fireResist": {
          "$ref": "#/definitions/dungeonsandtrollsAttributes"
        },
        "poisonResist": {
          "$ref": "#/definitions/dungeonsandtrollsAttributes"
        },
        "electricResist": {
          "$ref": "#/definitions/dungeonsandtrollsAttributes"
        },
        "life": {
          "$ref": "#/definitions/dungeonsandtrollsAttributes"
        },
        "stamina": {
          "$ref": "#/definitions/dungeonsandtrollsAttributes"
        },
        "mana": {
          "$ref": "#/definitions/dungeonsandtrollsAttributes"
        },
        "scalar": {
          "$ref": "#/definitions/dungeonsandtrollsAttributes"
        }
      }
    },
    "dungeonsandtrollsSkillEffect": {
      "type": "object",
      "properties": {
        "attributes": {
          "$ref": "#/definitions/dungeonsandtrollsSkillAttributes"
        },
        "flags": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "summons": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/dungeonsandtrollsDroppable"
          }
        }
      }
    },
    "dungeonsandtrollsSkillUse": {
      "type": "object",
      "properties": {
        "skillId": {
          "type": "string"
        },
        "targetId": {
          "type": "string"
        },
        "location": {
          "$ref": "#/definitions/dungeonsandtrollsCoordinates"
        }
      }
    },
    "dungeonsandtrollsStats": {
      "type": "object",
      "properties": {
        "life": {
          "type": "number",
          "format": "float"
        },
        "mana": {
          "type": "number",
          "format": "float"
        },
        "stamina": {
          "type": "number",
          "format": "float"
        }
      }
    },
    "dungeonsandtrollsUser": {
      "type": "object",
      "properties": {
        "username": {
          "type": "string"
        }
      }
    },
    "dungeonsandtrollsWaypoint": {
      "type": "object",
      "properties": {
        "destinationFloor": {
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "protobufAny": {
      "type": "object",
      "properties": {
        "@type": {
          "type": "string"
        }
      },
      "additionalProperties": {}
    },
    "protobufNullValue": {
      "type": "string",
      "enum": [
        "NULL_VALUE"
      ],
      "default": "NULL_VALUE"
    },
    "rpcStatus": {
      "type": "object",
      "properties": {
        "code": {
          "type": "integer",
          "format": "int32"
        },
        "message": {
          "type": "string"
        },
        "details": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/protobufAny"
          }
        }
      }
    }
  },
  "securityDefinitions": {
    "ApiKeyAuth": {
      "type": "apiKey",
      "name": "X-API-Key",
      "in": "header"
    }
  },
  "security": [
    {
      "ApiKeyAuth": []
    }
  ],
  "externalDocs": {
    "description": "More about Dungeons and trolls",
    "url": "https://github.com/gdg-garage/dungeons-and-trolls"
  }
}
